*{
    font-family: arial, sans-serif;   
}
body{
    color:  #02ddfa;
    background: linear-gradient(#fd2ff9,#02ddfa)      
}
h1{
 font-size:40px;
}
h2 span{
    font-size: 30px;
}
.music {
    color:#fd2ff9;
}