*
{
    font-family: arial, sans-serif;
    color:  rgb(0, 0, 255);
}
body
{
    background-color: rgb(213, 235, 255)
    
}
h1
{
 font-size:40px;
}
h2 > span
{
    font-size: 31px;
    color:rgb(255, 0, 0)
}